<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <add key="ScheduleFolder" value="C:\Temp\Hermes\Schedule"/>
    <add key="WorkingFolder" value="C:\Temp\Hermes\Jobs"/>

  </appSettings>
</configuration>