
Wapi/Wapi.vbproj.user

*.cache

Wapi/obj/*

Wapi/bin/*

packages/*

UI/obj/*

UI/bin/*

*.map

UI/node_modules/*

*.xml

**/**/obj/*

**/**/bin/*

Dal/obj/*

Dal/bin/*

Db/obj/*

Db/bin/*

Wapi/obj/*

Wapi/bin/*

*.log

.typingsrc
/DB/DB.dbmdl
